body {
  margin: 0;
  background: #0B0F1A;
  color: white;
  font-family: 'Poppins';
  text-align: center;
}

h1, h2 {
  font-family: 'Playfair Display';
}

section {
  padding: 60px 20px;
}

/* COVER */
.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
              url('https://images.unsplash.com/photo-1519741497674-611481863552');
  background-size: cover;
}

button {
  padding: 12px;
  border-radius: 30px;
  background: #22E6FF;
  border: none;
  font-weight: bold;
}

/* HIDDEN */
.hidden {
  display: none;
}

iframe {
  width: 90%;
  height: 250px;
  border-radius: 12px;
  border: none;
}